body{
    background-color: rgb(17, 189, 86);
}

.Chris{
    color: rgb(255, 153, 0);
}
.Software{
    border: 5px solid red;
    border-radius: 10px;
        
    color: rgb(0, 255, 51);

}
#cake{
    height: 200;
    width: 200;
    }

#movie{
    color: rgb(255, 240, 243);
}
#Birthday{
    color: white;
}
#about{
    color: white;
}
#contact{
    color: white;
}
body.about{
    background-color: pink;
}